.container{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border{
    border: solid 2px black;
    display: inline-block;
    border-radius: 3%;
    padding: 4px;
}

input{
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 3px;
    font-size: 32px;
}

.row:not(:last-child){
    margin-bottom: 3px;
}

button{
    height: 40px;
    width: 40px;
}

.row{
    display: flex;
    gap: 4px;
}

button{
    flex: 1 1 0;
}


[class="0"]{
    flex: 2 1 10.5%;
}