.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.border{
    border: solid 2px black;
    display: inline-block;
}

input{
    box-sizing: border-box;
    width: 100%;
}

button{
    height: 40px;
    width: 40px;
}
