.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.border{
    border: solid 2px black;
    display: inline-block;
}

input{
    box-sizing: border-box;
    width: 100%;
}

.row:not(:last-child){
    margin-bottom: 3px;
}

button{
    height: 40px;
    width: 40px;
}

.row5{
    display: flex;
    gap: 4px;
}

[class="0"]{
    flex: 2;

}